<div class="main-content">
  <div id="recipe_top">
    <row>
      <col-md-4>
        <%= image_tag @recipe.image.url(:medium) %>
      </col-md-4>
      <col-md-8>
        <div id="recipe_info">
          <h1><%= @recipe.title %></h1>
          <p class="description"><%=@recipe.description %></p>
        </div>
      </col-md-8>
    </row>
    <row>
      <col-md-6>
        <div id="ingredients">
          <h1>Ingredients</h1>
          <ul>
            <% @recipe.ingredients.each do |ingredient| %>
              <li><%= ingredient.name %></li>
            <% end %>
          </ul>
        </div>
      </col-md-6>
      <col-md-6>
        <div id="directions">
          <h1>Directions</h1>
          <ul>
            <% @recipe.directions.each do |direction| %>
              <li><%= direction.step %></li>
            <% end %>
          </ul>
        </div>
      </col-md-6>
    </row>
    <%= link_to 'Edit', edit_recipe_path %>
    <%= link_to 'Delete',@recipe, method: :delete %>
    <%= link_to 'Home', recipes_path %>
  </div>
</div>